<!DOCTYPE html>
<html lang="ja">
<link rel="stylesheet" href="/css/friend.css">
<body>
    <% unless session[:user] == nil%>
        <div class="Friend-Top">
            <h1>フォロー欄</h1>
            <img class="top-logo" src="<%= User.find(session[:user]).img%>">
        </div>
        <% @follow_relations.each do |relation|%>
            <% p "-------FriendId--------"%>
            <% p relation.user_id %>
            <div class="eachFriend">
                <div class="logo-img">
                    <img class="logo-icon" src="<%= User.find(relation.follower_id).img %>">
                </div>
                <p><%= User.find(relation.follower_id).username %></p>
            </div>
        <% end %>
    <% end %>
</body>
