<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Body Blitz</title>
        <link rel="stylesheet" href="/css/layout.css">
        <script src="https://kit.fontawesome.com/abdcfdfe62.js" crossorigin="anonymous"></script>
    <body>
        <header>
            <div class="right-top">
                <a href="/"><p class="title">BodyBlitz</p></a>
                <form class="search" action="/profile/search" method="get">
                    <label>
                        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        <input class="search-bar" name="searchUsername" type="text" placeholder="USERNAME">
                    </label>
                </form>
            </div>
            <div class="toolbar">
                <ul>

                    <!--<li><a href="">EXPLORE</a></li>-->
                    <!--<li><a href="/">USERNAME</a></li>-->
                    <% unless session[:user].nil? %>
                        <li><a href="/friends">FOLLOW</a></li>
                        <li><a href="/stopwatch">STOPWATCH</a></li>
                        <!--<li><a href="/post">POST</a></li>-->
                        <li><a href="/"><%= User.find(session[:user]).username%></a></li>
                        <li><a href="/signout">SIGNOUT</a></li>
                    <% end %>
                </ul>
            </div>
        </header>
        <main>
            <%= yield %>
        </main>
    </body>
</html>