<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="logo-img">
    <img class="logo-icon" src="<%= User.find_by_id(session[:searchId]).img %>">
  </div>
  <!--<p class="username">USERNAME</p>-->
  <p class="username"><%= User.find(session[:searchId]).username%></p>
  <% Activity_Logs.all.each do |i| %>
    <% p "aaaaaaaaaaaaaaaaaaaaaaaaaaaa"%>
    <% p i.user_id %>
    <% if i.user_id == session[:searchId].to_s %>
      <% p "inside if" %>
      <div class="log_block">
        <p><%= i.date %></p>
        <p><%= i.time %></p>
      </div>
    <% end %>
  <% end %>
  <div class="PostList">
    
  </div>
</body>
</html>
