<link rel="stylesheet" href="/css/signin.css">

<body>
    <h1>ログイン</h1>
    <form class="blob" action='/signin' method='post'>
        <div class="input-set">
            <h3>USERNAME</h3>
        	<input type="text" name="username" required>
        </div>
    	<div class="input-set">
    	    <h3>PASSWORD</h3>
    	    <input type="password" name="password" required>
    	</div>
    	<input type="submit" value="SIGNIN">
    </form>
    <div class="signup-button">
        <a href="/signup"><p>新規登録<p></a>
    </div>
</body>