<link rel="stylesheet" href="/css/signin.css">

<body>
    <h1>ログイン</h1>
    <form class="blob" action='/signin' method='post'>
        <div class="input-set">
            <h3>USERNAME</h3>
        	<input type="text" name="username" placeholder="ユーザー名" required>
        </div>
    	<div class="input-set">
    	    <h3>PASSWORD</h3>
    	    <input type="password" name="password" placeholder="パスワード" required>
    	</div>
    	<input type="submit" value="SIGNIN">
    </form>
</body>