<link rel="stylesheet" href="/css/signup.css">

<body>
    <h1>新規登録</h1>
    <form class="blob" action="/signup" method="post" enctype="multipart/form-data">
        <input class="input-buttons" type="text" name="username" placeholder="USERNAME">
        <input class="input-buttons" type="password" name="password" placeholder="PASSWORD">
        <input class="input-buttons" type="password" name="password_confirmation" placeholder="CONFIRM">
        <label class="label-css">
            <div enctype="multipart/form-data">
                <p id="super"><input type="file" name="file" id="file">ロゴを選択</p>
            </div>
        </label>
        <input class="signup-button" type="submit" value="Sign up">
    </form>
    <div class="signin-button">
        <a href="/signin"><p>アカウントをお持ちの方<p></a>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$('#file').on('change', function () {
    var file = $(this).prop('files')[0];
    $('#super').text(file.name);
});
</script>