<!DOCTYPE html>
<html>
<head>
  <title>Stopwatch</title>
  <link rel="stylesheet" href="/css/stopwatch.css"> 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/applications.js"></script>
</head>
<body>
  <div id="timer">00:00:00</div>
  <div id="buttons">
    <button class="each-buttons" id="start">START</button>
    <button class="each-buttons" id="pause">PAUSE</button>
    <button class="each-buttons" id="end">END</button>
  </div>
</body>
</html>