*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-icon{
    width: 100px;
    height: 100px;
}
body{
    background-color: #F5FBFF;
}
.logo-img{
    text-align: center;
    margin-top: 25px;
}
.logo-icon{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.username{
    font-size: 45px;
    text-align: center;
}
.log_block{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    background-color: #EDEDED;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.follow{
    text-align:center;
}
.follow-button{
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  border: none;
  color: black;
  height: 45px;
  font-size: 30px;
  background-color:#EDEDED ;
  box-shadow:2px 2px 2px 0px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  margin-top: 10px;
}
.follow-button:hover{
    border: thin solid black;
}